body {
    font-family: "Fira Sans";
    margin: 0;
    padding: 0.5em;
}

header {
    display: flex;
    align-items: stretch;
}

h1 {
    margin-right: 1.5em;
}

h1 img {
    vertical-align: middle;
}

#opener {
    flex-grow: 1;
    background-color: #222;
    color: #eee;
    text-align: center;
}

#drawer {
    height: 15em;
    width: 100%;
    background-color: green;
}
